/* * {
    box-sizing: border-box;
} */
body{
    height:100vh;
}
header {
    grid-column: col-start 2 span 12;
    border: 1px solid white;
    background-color: palegoldenrod;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: medium;

}

.sidebar {
    border: 1px solid white;
    background-color: peachpuff; 
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    grid-column: col-start 0 span 2;
    
 }


[class*="col-"] {
    float: right;
    padding: 10px;
}

[class*='col-'] {
    padding-right: 20px;
 }
 [class*='col-']:last-of-type {
    padding-right: 0;
 }

.col-1-3 {
    width: 33.33%
}

.col-2-3 {
    width: 66.66%
}

.container {
    position: relative;
}

.row div {
    border: 1px solid white;
    background-color: palevioletred;
    width: 20%;
    align-items: center;
    padding-right: 15px;
    padding-left: 15px;
}

p {
    color: antiquewhite;
    font-family: cursive;
    font-weight: 300;
}

.container:after {
    content: "";
    display: table;
    clear: both;
}

*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
 }

 footer {
    padding-bottom: 5px;
    background-color: palegoldenrod;
    grid-column: col-start 2 span 12;
    grid-row: 8;
    font-weight: 500;
    font-style: italic;
    
} 
/* .col {
    float: left;
    width: 33.33%;
} */
/* .wrapper {
    display: grid;
    grid-template-columns: repeat(12, [col-start] 1fr);
    gap: 20px;
} */

/* .wrapper > * {
    grid-column: col-start 2 span 12;
} */

/* @media (min-width: 500px) {

    .sidebar {
        grid-column: col-start span 3;
        grid-row: 3;
        display: flex;
        justify-content: space-between;
    }
    .img {
        grid-column: col-start span 3;
        grid-row: 4;
    }
    footer {
        grid-column: col-start 2 span 12;
        grid-row: 8;
    }
    nav ul {
        
    }
} */

/* @media (min-width: 700px) {
    .sidebar {
        grid-column: col-start span 2;
        grid-row: 0 12;
    }
    .text {
        grid-column: col-start 3 span 8;
        grid-row: 2 4;
    }
    .text2 {
        grid-column: col-start 6 span 8;
        grid-row: 2 4;
    }
    .text3 {
        grid-column: col-start 9 span 8;
        grid-row: 2 4;
    }
    .sidebar {
        grid-column: col-start 5 span 4;
        grid-row: 5;
    }
    nav ul {
        flex-direction: column;
    }
}  */

